*{
    padding: 0;
    margin: 0;
    box-style: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Cormorant Garamond",Garamond, serif;
}

body{
    background: #eee;
}

header{
    align-items: center;
    justify-content: center;;
    padding: 0 40px;
    box-shadow: 5px 15px 25px rgba(0,0,0,0.1);
    border-radius: 0 0 30px 30px;
    border-bottom: 2px solid gold;
    top: 0;
    position: sticky;
    z-index: 1000;
    background: white;
}

.head-container{
    align-items: center;
    justify-content: space-between;
    width: 100%;
    display: flex;
    
}

.head-container .logo{
    display: flex;
    align-items: center;
    gap: 5px;
}
.logo a{
    font-size: 30px;
    font-weight: 400;
    color:gold;
}

.logo a span{
    color: black;
}

.head-container img{
    width: 80px;
}

.head-container ul{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.head-container ul li{
    font-size: 21px;
    font-weight: 400;
    color: Black;
    border-right: 4px solid gold;
    padding-right: 8px;
    border-radius: 20px;
    transition: .4s ease;
}

.head-container ul li:hover{
    color: gold;
    border-right: 4px solid black;
}

.head-container ul li:active{
    color: gold;
    border-left: 3px solid black;
    padding-left: 6px;
    border-radius: 0 20px 20px 0;
}

.button{
    display: flex;
    gap: 30px;
}

.button button{
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 400;
    color: black;
    background: gold;
    transition: .4s ease;
    cursor: pointer;
}

.button button:hover{
    color: white;
}

.nav-toggle{
    font-size: 28px;
    cursor: pointer;
    display: none;
    margin-right: 20px;
    z-index: 10002;
    position: relative;
}

.nav-toggle i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav-toggle .bx-x{
    display: none;
}

#hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    
}

#hero .hero-details{
    width: 50%;
    align-items: auto;
    justify-content: center;
    border-radius: 30px;
    padding: 20px;
}

#hero .hero-details h1{
    font-size: 45px;
    font-weight: 600;
    color: gold;
    margin-bottom: 20px;
    position: relative;
}

#hero h1::after{
    content: '';
    display: block;
    width: 40%;
    margin-bottom: 20px;
    border-bottom: 4px solid gold;
    position: absolute;
    left: 27%;
    bottom: -31%;
    
    
}

#hero .hero-details h4{
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 400;
    font-stretch: 5px;
}

.hero-details .hero-btn{
    display: flex;
    gap: 20px;
    
}

.hero-details .hero-btn button{
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 15px;
    font-weight: 400;
    border: none;
    border: 2px solid gold;
    cursor: pointer;
    transition: .4s ease;
    
}

.btn1{
    background: white;
}

 .btn2{
    background: gold;
}

.hero-details .hero-btn button:hover{
    background: gold;
    color: black;
}



#hero .hero-img{
    width: 50%;
}

#hero .hero-img img{
    width: 100%;
}

#about{
    align-items: center;
    padding: 20px 40px;
    background: white;
    clip-path: ellipse(105% 105% at 50% 0%);
    box-shadow: 5px 15px 25px rgba(0,0,0,0.1);
}

#about h1{
    font-size: 45px;
    font-weight: 600;
    color: gold;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
}

#about h1::after{
    content: '';
    display: block;
    width: 15%;
    /* margin: 10px 0 auto; */
    border-bottom: 4px solid gold;
    position: absolute;
    left: 42.5%;
    bottom: -20%;
    
}

#about .about-con{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

#about .about-img{
    width: 50%;
}

#about .about-img img{
    width: 100%;
}

#about .about-det{
    width: 50%;
}

#about .about-det h3{
    color: gold;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: px;
}

#about .about-det h4{
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 400;
    font-stretch: 5px;
}

#services{
    align-items: center;
    padding: 20px 40px;
    text-align: center;
}

#services h1{
    font-size: 45px;
    font-weight: 600;
    color: gold;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
}

#services h1::after{
    content: '';
    display: block;
    width: 15%;
    /* margin: 10px 0 auto; */
    border-bottom: 4px solid gold;
    position: absolute;
    left: 42.5%;
    bottom: -20%;
}

#services h3{
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}

.card-con{
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 110px;
}

.card{
    background: #fff;
    padding: 22px 20px 20px 20px;
    border-radius: 18px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.07);
    min-width: 230px;
    max-width: 340px;
    max-height: 250px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-bottom: 3px solid gold;
    margin-top: 30px;
}

.card img{
    width: 105px;
    margin-top: -65px;
    margin-bottom: 14px;
    z-index: 2;
    position: relative;
    
}

.card h2{
    font-size: 1.7rem;
    font-weight: 600;
    color: gold;
    margin: 10px 0;
}

.card p{
    font-size: 20px;
    font-weight: 400;
    font-stretch: 5px;
}

.card img>: nth-child(3){
    width: 200px;
}

#work{
    align-items: center;
    padding: 20px 40px;
}

#work h1{
    font-size: 45px;
    font-weight: 600;
    color: gold;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
}

#work h1::after{
    content: '';
    display: block;
    width: 15%;
    /* margin: 10px 0 auto; */
    border-bottom: 4px solid gold;
    position: absolute;
    left: 42.5%;
    bottom: -20%;
}

#work h3{
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}

.work-con{
    display: flex;
    gap: 16px;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 10px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.work-card{
    display: flex;
    flex: 0 0 auto;
    width: 400px;
    height: 140px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);
    align-items: center;
    gap: 15px;
    align-items: center;
    border: 2px solid #d99723;
}

.work-card img{
    width: 20%;
}
.work-det{
    border-left: 2px solid gold;
    padding-left: 10px;
}

.work-det h2{
    font-size: 1.5rem;
    font-weight: 600;
    color: gold;
    margin: 5px 0;
}

.work-det p{
    font-size: 20px;
    font-weight: 400;
    font-stretch: 5px;
}

.work-con i{
    font-size: 40px;
}

#business{
    align-items: center;
    position: relative;
    padding: 20px 40px;
    background: #fff;
}

#business h1{
    font-size: 45px;
    font-weight: 600;
    color: gold;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
}

#business h1::after{
    content: '';
    display: block;
    width: 15%;
    /* margin: 10px 0 auto; */
    border-bottom: 4px solid gold;
    position: absolute;
    left: 42.5%;
    bottom: -20%;
}


.bis-con{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 50px;
}

.bis-box{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 2px solid gold;
    border-radius: 10px;
    background: #eee;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.bis-box img{
    width: 100%;
    border-radius: 10px;
}

.bis-det{
    display: flex;
    flex-direction: column;
}

.bis-det h2{
    font-size: 1.7rem;
    font-weight: 800;
    color: gold;
    margin: 5px 0;
}

 .bis-det p{
    margin: 12px 0;
    font-size: 20px;
    font-weight: 600;
    font-stretch: 5px;
 }
 
 .bis-det ul{
     padding-left: 18px;
 }
 
 .bis-det ul li{
    list-style-type: disc;
    font-size: 18px;
    padding-bottom: 7px;
 }
 
 .bis-det button{
    padding: 10px 0;;
    margin-top: 10px;
    font-size: 20px;
    border-radius: 15px;
    font-weight: 500;
    border: 2px solid #fff;
    background: gold;
    cursor: pointer;
    transition: .4s ease;
 }
 
 .bis-det button:hover{
    background: transparent;
    border: 2px solid gold;
 }
 
 #test{
    padding: 20px 40px;
    align-items: center;
 }
 
 #test h1{
    font-size: 45px;
    font-weight: 600;
    color: gold;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
}

#test h1::after{
    content: '';
    display: block;
    width: 15%;
    /* margin: 10px 0 auto; */
    border-bottom: 4px solid gold;
    position: absolute;
    left: 42.5%;
    bottom: -20%;
}

#test h3{
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}

.test-con{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.test-box{
    display: flex;
    flex-direction: column;;
    margin-top: 20px;
    /* border: 2px solid gold; */
    padding: 10px;
    box-shadow: 0 4px 8px rgba(225, 215, 0);
    border-radius: 10px;
}

.test-box h4{
    font-size: 20px;
    font-weight: 400;
    font-stretch: 5px;
    margin-bottom: 5px;
}

.test-det{
    display: flex;
    gap: 7px;
    align-items: center;
}

.test-det img{
    
    border-radius: 50px;
    border: 2px solid gold;
}


#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 40px;
    position: relative;
    background: #fff;
}

#contact h1{
    font-size: 45px;
    font-weight: 600;
    color: gold;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
}

#contact h1::after{
    content: '';
    display: block;
    width: 15%;
    /* margin: 10px 0 auto; */
    border-bottom: 4px solid gold;
    position: absolute;
    left: 42.5%;
    bottom: -20%;
}

#contact h3{
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}

form{
    width: 100%;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    padding: 20px;
    border: 2px solid #eee;
    border-radius: 6px;
    margin-top: 8px;
}

form .input-box{
    display: flex;
    gap:50px;
    margin-bottom: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.input-field{
    width: 45%;
}

.input-field .item{
    width: 95%;
    padding: 18px;
    background: transparent;
    outline: none;
    border: 2px solid gold;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.textarea{
    margin-bottom: 20px;
}

.textarea textarea{
    width: 95%;
    padding: 15px;
    resize: vertical;
    border: 2px solid gold;
    background: transparent;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form button{
    padding: 10px 20px;;
    margin-top: 10px;
    font-size: 20px;
    border-radius: 15px;
    font-weight: 500;
    border: 2px solid #eee;
    background: gold;
    cursor: pointer;
    transition: .4s ease;
 }
 
form button:hover{
    background: transparent;
    border: 2px solid gold;
 }
 
 #footer{
     align-items: center;
     padding: 20px 40px;
     text-align: center;
     position: relative;
 }
 
 .foot{
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 
 .foot h3{
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
    color: gold;
    align-items: center;
 }
 
 .link-con{
     display: flex;
     gap: 100px;
     flex-wrap: wrap;
 }
 
 .links ul li{
     font-size: 20px;
     font-weight: 400;
     margin-bottom: 5px;;
 }
 
  .links ul li a{
      color: black;
      transition: .4s ease;
  }
  
  .links ul li a:hover{
      color: gold;
  }
 
 .icons{
     display: flex;
     gap: 100px;
     flex-wrap: wrap;
 }
 
 .icons i{
     font-size: 30px;
     font-weight: 400;
     color: black;
     padding: 4px;
     border: 2px solid black;
     border-radius: 50px;
     background: white;
     transition: .4s ease;
     cursor: pointer;
 }
 
 .icons i:hover{
     color: gold;
     border: 2px solid gold;
     border-radius: 50px;
     background: transparent;
 }
 
 #footer hr{
    border: none;
    height: 3px;
    background-color: gold;
    width: 50%
    position: absolute;
    align-items: center;
    top: 120px;
    left: 44%;
    text-align: center;
    margin: 20px 0 auto;
 }
 
 #footer p{
     padding: 10px;
     font-size: 20px;
     font-weight: 400;
 }
 
 /* resposiveness */

@media (max-width: 1115px){
    #hero .hero-details h1{
    font-size: 40px;
}
}

@media (max-width: 1111px){
    .hero-details .hero-btn button{
    padding: 8px 18px;
    font-size: 18px;
}

@media (max-width: 1074px){
    #hero .hero-details h1{
    font-size: 38px;
}

#hero h1::after{
    margin-bottom: 18px;
    
}
}

@media (max-width: 1026px){
    #hero .hero-details h1{
    font-size: 36px;
}

#hero h1::after{
    margin-bottom: 18px;
    
}
}

@media (max-width: 1015px){
    #hero{
        flex-direction: column;
    }
    
    #hero .hero-details{
        width: 70%;
    }
    
    .hero-details .hero-btn{
        justify-content: center;
    }
    
    #hero .hero-details h1{
    font-size: 30px;
}

#hero .hero-img{
    width: 100%;
    margin-top: 20px;
}

#hero h1::after{
    margin-bottom: 18px;
    
}

#about .about-con{
    flex-direction: column;
}

#about .about-img{
    width: 100%;
}

#about .about-det{
    width: 70%;
}
}

@media (max-width: 1050px){
    
    header{
        padding: 0 20px;
    }
    
    .head-container ul{
    display: flex;
    position: absolute;
    top: -1000px;
    left: 0;
    right: 0; 
    background-color: #fff;
    padding: 20px;
    flex-direction: column;
    align-items: left;
    transition: all .50s ease;
    }
    
    .nav-toggle.show .bx-menu{
      display: none;
  }
  
  .nav-toggle.show .bx-x{
      display: block;
  }
  
  .navlist.show {
    top: 100%;
  }
    
    .head-container ul.show{
        display: flex;
    }
    
    .head-container ul li{
        padding: 10px;
        border-right: none;
        border-bottom: 1px solid #ccc;
    }
    
    .nav-toggle {
        display: block;
    }
}

@media (max-width: 1015px){
    #hero .hero-details h1{
    font-size: 39px;
}

}

@media (max-width: 744px){
     #hero .hero-details h1{
    font-size: 34px;
}

form .input-box{
    display: flex;
    gap:20px;
    flex-direction: column;
}

.input-field{
    width: 100%;
}

}

@media (max-width: 721px){
    .hero-details .hero-btn button{
    padding: 7px 17px;
    font-size: 17px;
}
}

@media (max-width: 695px){
     #hero .hero-details{
        width: 100%;
     }
        
        #about .about-det{
    width: 100%;
 }
}

@media (max-width: 560px){
    .head-container.logo{
        transform: scale(0.8);
        transition: all 0.3s ease;
    }
    
    .head-container img{
        width: 50px;
    }
    
    .logo a {
        font-size: 25px;
    }
    
    .head-container .button button{
        padding: 7px 15px;
        font-size: 14px;
    }
    
    
}

@media (max-width: 524px){
    #hero h1::after{
    display: none;
    }
    
     .hero-details .hero-btn button{
    padding: 5px 10px;
    font-size: 18px;
}

 #hero .hero-details{
        width: 100%;
 }
 
 #about .about-det{
    width: 100%;
 }
}

@media (max-width: 475px){
     .hero-details .hero-btn button{
    padding: 5px 10px;
    font-size: 18px;
}
}

@media (max-width: 394px){
    .head-container .button button{
        padding: 6px 11px;
        font-size: 11px;
    }
}

@media (max-width: 375px){
    .head-container.logo{
        transform: scale(0.8);
        transition: all 0.3s ease;
    }
    
    .head-container img{
        width: 45px;
    }
    
    .logo a {
        font-size: 20px;
    }
    
    .head-container .button button{
        padding: 5px 10px;
        font-size: 12px;
    }
}